.container {
  background-color: #1B1B1B;
}
  
.login-page {
  background-color: white;
  padding: 60px;
  border-radius: 3px;
  width: 530px;
  height: 420px;
}
  
.login-page .title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 43px;
  margin-bottom: 0px;
}

.new-user-label {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 16px;
  color: #777777;
  margin-bottom: 35px;
}

.login-form .form-label {
  color: #777777;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 14px;
  margin: 0;
}

.login-form .form-control {
  border: 0;
  border-bottom: 2px solid #CFCFCF ;
  border-radius: 2px;
  padding-left: 0;
}

.login-form .form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid #0085FF;
}

.login-form .submit {
  border-radius: 20px;
  padding: 7px 30px 3px 30px; 
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 22px;
  float: right;
}

.lost-password {
  position: absolute;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 17px;
  margin-top: 10px;
}
