@layout('layouts/main')
@set('title', 'liversity - Página Inicial')

@section('content')

    <main>
        <div>
            <h1 class="title"> liversity </h1>
            <p class="subtitle">
            
            </p>
            @each(evento in eventos) 
            <a href="/Login">{{evento.nome}}</a>
            @end
        </div>
    </main>
    
@endsection
        