<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>liversity - Eventos</title>
        @entryPointStyles('app')
        @entryPointScripts('app')
    </head>
    <body>
    
        <main>
        <div>
            <h1 class="title"> liversity </h1>
            <p class="subtitle">
            
            </p>
            @each(evento in eventos) 
            <a href="/Login">{{evento.nome}}</a>
            @end
        </div>
        </main>
    </body>
</html>
        