<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../css/evento/criarEvento.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <title>liversity - Criar novo evento</title>
        @entryPointStyles('app')
        @entryPointScripts('app')
    </head>
    @!component('layouts/partials/header')
    <body class="form-container">
        <main id="create-event">
            <div class="form-page d-inline-block">
                <h1 class="title">Novo evento</h1> 
                <br>
                <form class="form">
                    <div class="mb-3 form-entry">
                        <label for="name" class="form-label">Nome do evento</label><br>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="mb-3 form-entry">
                        <label for="eventDate" class="form-label">Data do evento</label><br>
                        <input type="date" class="form-control" id="eventDate">
                    </div>
                    <div class="mb-3 form-entry">
                        <label for="category" class="form-label">Categoria de atividade</label><br>
                        <select class="form-select" name="categoria" id="category">
                            <option value="">Selecione uma categoria</option>
                            @each(categoria in categorias)
                                <option value="{{ categoria.nome }}">{{ categoria.nome }}</option>
                            @endeach
                        </select>
                    </div>
                    <div class="mb-3 form-entry">
                        <label for="limitSubscriptionDate" class="form-label">Data limite de inscrição no evento</label><br>
                        <input type="date" class="form-control" id="limitSubscriptionDate">
                    </div>
                    <div class="mb-3 form-entry">
                        <label for="description" class="form-label">Descrição do evento</label><br>
                        <textarea type="text" class="form-control" id="description" rows="3"></textarea>
                    </div>
                    <div class="mb-3 form-entry">
                        <label for="linkCommunicationGroup" class="form-label">Link de grupo do evento</label><br>
                        <input type="link" class="form-control" id="linkCommunicationGroup">
                    </div>
                    <div class="mb-3 event-images inline-block form-entry">
                        <label for="document" class="form-label">Documento de oficialização de evento</label><br>
                        <input type="file" id="document" name="filename" accept="application/pdf">
                    </div>
                    <button type="submit" class="btn btn-primary submit">Criar novo evento</button>
                </form>
            </div>
        </main>
        @!component('layouts/partials/footer')
    </body>
</html>