html, body {
  font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  min-height: 100vh;
  color: #46444c;
  position: relative;
}

body:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  position: absolute;
}

p {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

a {
  color: #0085FF;
  font-weight: 600;
  text-decoration: none;
}

main {
  max-width: 620px;
  margin: auto;
  height: 100vh;
  padding: 0 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  color: #1B1B1B;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 40px;
}

main ul {
  list-style: none;
}

main li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px;
}

main li:before {
  content: '—';
  position: absolute;
  left: 0;
}

main code {
  font-size: 16px;
  background: #e6e2ff;
}

.forgotPassword-page {
  background-color: white;
  padding: 60px;
  border-radius: 3px;
  width: 530px;
  height: 350px;
}

.signUp-page {
  background-color: white;
  padding: 60px;
  border-radius: 3px;
  width: 530px;
  height: 485px;
}

.forgotPassword-page .title, .signUp-page .title, .eventregister-page .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 0px;
}

.event-form .form-label {
  color: #777777;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}

.forgotPassword-page .submit, .signUp-page .submit {
  border-radius: 20px;
  padding: 7px 30px 3px 30px; 
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  float: right;
  width: 35%
}

.voltar {
  border-radius: 20px;
  padding: 7px 30px 3px 30px; 
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  float: left;
  width: 35%
}

.event-buttons{
  margin: 20px 0px 20px 0px;
}

.event-buttons .submit {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  border-radius: 40px;
  padding: 12px 14px 8px 14px;
  margin-right: 10px;
}

.event-info {
  margin-bottom: 20px;
}

.event-info span {
  margin-right: 20px;

}

.info{
  max-width: 800px;
  margin-bottom: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}