html, body {
  background-color: #1B1B1B;
  font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100vh;
  color: #46444c;
  position: relative;
}

body:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #0085FF;
  font-weight: 600;
  text-decoration: none;
}

main {
  max-width: 620px;
  margin: auto;
  height: 100vh;
  padding: 0 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  color: #1B1B1B;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}

main ul {
  list-style: none;
}

main li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px;
}

main li:before {
  content: '—';
  position: absolute;
  left: 0;
}

main code {
  font-size: 16px;
  background: #e6e2ff;
}

.container {
  background-color: #1B1B1B;
}

.login-page {
  background-color: white;
  padding: 60px;
  border-radius: 3px;
  width: 530px;
  height: 420px;
}

.forgotPassword-page {
  background-color: white;
  padding: 60px;
  border-radius: 3px;
  width: 530px;
  height: 350px;
}

.signUp-page {
  background-color: white;
  padding: 60px;
  border-radius: 3px;
  width: 530px;
  height: 485px;
}

.login-page .title, .forgotPassword-page .title, .signUp-page .title, .eventregister-page .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 0px;
}

.new-user-label {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #777777;
  margin-bottom: 35px;
}

.login-form .form-label, .event-form .form-label {
  color: #777777;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}

.login-form .form-control {
  border: 0;
  border-bottom: 2px solid #CFCFCF ;
  border-radius: 2px;
  padding-left: 0;
}

.login-form .form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid #0085FF;
}

.login-password {
  margin-bottom: 30px !important;
}

.login-form .submit, .forgotPassword-page .submit, .signUp-page .submit {
  border-radius: 20px;
  padding: 7px 30px 3px 30px; 
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  float: right;
  width: 35%
}

.eventregister-page {
  background-color: white;
  padding: 7.5% 33.3%;
  border-radius: 3px;
  width: 750px;
  height: 920px;
}


.event-form .submit {
  border-radius: 20px;
  padding: 7px 30px 3px 30px; 
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  float: right;
  width: 35%
}

.voltar {
  border-radius: 20px;
  padding: 7px 30px 3px 30px; 
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  float: left;
  width: 35%
}

.lost-password {
  position: absolute;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: 10px;
}
