<footer>
    <div class="container justify-content-center d-flex m-0 mw-100 bg-light border-top">
      <p class="py-2 text-dark">© 2022 liversity — Todos os direitos reservados</p>
    </div>
</footer>
