@media screen and (max-width: 1400px) {
  main {
    margin: 150px auto;
  }
}

.eventContainer {
  background-color: #1B1B1B !important;
}

.eventregister-page {
  background-color: white;
  padding: 50px;
  border-radius: 3px;
  width: 480px;
}

.event-name {
  color: #777777;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}

.event-images {
  font-size: 14px;
}

.form-control, .form-select {
  border: 0;
  border-bottom: 2px solid #CFCFCF ;
  border-radius: 2px;
  padding-left: 0;
}

.form-control:focus, .form-select:focus {
  box-shadow: none;
  border-bottom: 2px solid #0085FF;
}

.event-date {
  margin-bottom: 30px;
}

#descricao {
  height: 140px;
  min-height: 140px;
  max-height: 140px;
}

.event-form .submit {
  font-size: 14px;
  padding: 6px 25px 3px 25px;
  border-radius: 20px;
  float: right;
  bottom: 0px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  margin-top: 20px;
}
