<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        @entryPointStyles('app')
        @entryPointScripts('app')
    </head>
    <body>
    
        <main>
        <div>
            <h1 class="title"> SIGAE - Sistema de Gerenciamento de Atividades Extracurriculares </h1>
            <p class="subtitle">
                Bem vindo ao mais novo sistema criado pelos estudantes de Ciência da Computação!<br>
                Realize seu login no SIGAE!
            </p>
        </div>
        </main>
    </body>
</html>
        