<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{--  <link href="../../css/evento/criarEvento.css" rel="stylesheet" type="text/css">  --}}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <title>liversity - Editar Perfil</title>
        @entryPointStyles('app')
        @entryPointScripts('app')
    </head>
    @!component('layouts/partials/header')
    <body class="form-container">
        <main id="edit-profile">
            <div class="form-page d-inline-block">
                <h1 class="title">Editar Perfil</h1> 
                <br>
                <form class="form">
                    <div class="mb-3 form-entry">
                        <label for="nome" class="form-label">Nome completo</label><br>
                        <input type="text" class="form-control" id="nome">
                    </div>
                    <div class="mb-3 form-entry">
                        <label for="data" class="form-label">Data de nascimento</label><br>
                        <input type="date" class="form-control" id="data">
                    </div>
                    <div class="mb-3 form-entry">
                        <label for="gender" class="form-label">Gênero</label><br>
                        <select class="form-select" name="genero" id="genero">
                            <option value="">Selecione o seu gênero</option>
                            @each(gender in genders)
                                <option value="{{ gender.name }}">{{ gender.name }}</option>
                            @endeach
                        </select>
                    </div>
                    <div class="mb-3 form-entry">
                        <label for="cpf" class="form-label">CPF</label><br>
                        <input type="text" class="form-control" id="cpf">
                    </div>
                    <div class="mb-3 form-entry">
                        <label for="email" class="form-label">E-mail</label><br>
                        <input type="email" class="form-control" id="email" readonly>
                    </div>
                    <div class="mb-3 form-entry">
                        <label for="matricula" class="form-label">Matrícula da UFRRJ</label><br>
                        <input type="text" class="form-control" id="matricula">
                    </div>
                    <div class="mb-3 form-entry">
                        <label for="curso" class="form-label">Curso da graduação</label><br>
                        <input type="text" class="form-control" id="curso">
                    </div>
                    <div class="mb-3 form-entry">
                        <label for="campus" class="form-label">Campus em que estuda</label><br>
                        <select class="form-select" name="campus" id="campus">
                            <option value="">Selecione o campus</option>
                            @each(campus in campus)
                                <option value="{{ campus.name }}">{{ campus.name }}</option>
                            @endeach
                        </select>
                    </div>
                    <div class="mb-3 form-entry">
                        <label for="interesses" class="form-label">Interesses e Hobbies</label><br>
                        <textarea type="text" class="form-control" id="interesses" rows="2"></textarea>
                    </div>
                    <div class="mb-3 form-entry">
                        <label for="atividades" class="form-label">Atividades extracurriculares que já fez</label><br>
                        <textarea type="text" class="form-control" id="atividades" rows="2"></textarea>
                    </div>
                    <div class="mb-3 picture inline-block form-entry">
                        <label for="foto" class="form-label">Foto de rosto</label><br>
                        <input type="file" id="myFile" name="filename" accept="image/jpeg, image/png">
                    </div>
                    <a type="submit" class="btn btn-primary submit" href="{{ route('index') }}">Salvar</a>
                </form>
            </div>
        </main>
        @!component('layouts/partials/footer')
    </body>
</html>