<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>liversity - Login</title>
        @entryPointStyles('app')
        @entryPointScripts('app')
    </head>
    <body class="container">
        <main>
            <div class="login-page">
                {{--  {{ inspect(flashMessages.all()) }}  --}}
                <h1 class="title">Login</h1>
                <label class="new-user-label">Novo usuário? <a href="{{ route('signUp.view') }}">Crie uma conta!</a></label>
                <form class="login-form" action="{{ route('login.authenticate') }}" method="POST">
                    <div class="mb-3 login-email">
                        <label for="email" class="form-label">E-mail</label><br>
                        <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    <div class="login-password">
                        <label for="password" class="form-label">Senha</label><br>
                        <input name="password" type="password" class="form-control" id="password">
                    </div>
                    @if(flashMessages.all()?.errors)
                        <p class="text-danger mt-2"><small>{{ flashMessages.all()?.errors.login }}</small></p>
                    @endif
                    <div style=
                        @if(flashMessages.all()?.errors)
                            "margin-top: 8px;"
                        @else
                            "margin-top: 40px;"
                        @endif
                    )>
                        <a class="lost-password" href="{{ route('forgotPassword.view') }}">Esqueci minha senha</a>
                        <button type="submit" class="btn btn-primary submit">Entrar</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>